tags
autom4te.cache
build
build-aux
aclocal.m4
config.*
configure
depcomp
install-sh
ltmain.sh
Makefile.in
missing
Makefile
.deps
*.diff
*.la
.libs
*.lo*
missing
mkinstalldirs
*.nm
*.o
*.patch
stamp-h
stamp-h1
stamp-h.in
*.orig
*.rej
COPYING
INSTALL
*.pc
libtool
*.a
*.so*
install
compile
